@charset "utf-8";
@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Oswald');
body{font-size: 14px;font-family:  'Roboto','Nanum Gothic','나눔고딕', sans-serif;}
h1{position: absolute;top: 30px;left: 40px;z-index: 2;}
h1>a{display: block;text-indent: -999999px;background: url(../images/main/common/jeep-logo.png) 0 0 no-repeat;width: 87px;height: 35px;background-size: 100%;}
#nav{width: 100%;position: absolute;z-index: 1;}
#nav ul{float: right;margin-right: 90px;width: 430px;}
#nav ul:after{content: '';display: block;clear: both;}
#nav ul li{float: left;color: #fff;width: 20%;transition: .4s;font-size: 1.1em;text-shadow: 1px 1px 1px #292929;background: url(../images/main/common/text-bg.png) 	-100px center no-repeat;height: 100px;padding-top: 24px;}
#nav ul li.active{font-weight: bold;color: #fff;background: url(../images/main/common/text-bg.png) center no-repeat;}
#nav ul li a{display: block;width: 100%;text-align: center;line-height: 50px;}

.sidemenu{display: block;text-indent: -99999px;background: url(../images/main/common/menu.png) 0 0 no-repeat;width: 27px;height: 27px;position: absolute;top: 36px; right: 40px;background-size: 100%;z-index: 4;}
.sidemenu.on{display: block;text-indent: -99999px;background: url(../images/main/common/menu-close.png) 0 0 no-repeat;width: 27px;height: 27px;position: absolute;top: 36px; right: 40px;background-size: 100%;z-index: 4;}
#side-nav{display: none;position: absolute;top: 0;right: 0;padding-top: 25px;z-index: 3;color: #fff;width: 430px;height: 100%;	background: #000;}
#side-nav .side-nav-inner-wrap{position: absolute;top: 80px;line-height: 45px;width: 100%;}
#side-nav h2{padding-left: 40px;cursor: pointer;position: relative;}
#side-nav h2:after{content: '';display: block;width: 20px;height: 10px;background: url(../images/main/common/menu-more.png) 0 bottom no-repeat;position: absolute;top: 37%;right: 11%;}
#side-nav h2.on:after{content: '';display: block;width: 20px;height: 10px;background: url(../images/main/common/menu-more.png) 0 top no-repeat;position: absolute;top: 37%;right: 11%;}
#side-nav ul li{padding-left: 20px;margin: 10px 40px; transition: .3s;}
#side-nav ul li:hover{background-color: #fff;color: #000;font-weight: bold;	}


@media (max-width: 650px) {
	#side-nav{width: 100%;}
	#nav{display: none;}
}